.layout2 {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f2f5; /* 设置背景颜色 */
  }
  
  .content2 {
    width: 100%;
    max-width: 400px; /* 设置最大宽度 */
    padding: 24px;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px; /* 设置圆角 */
  }
  
  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .ant-input-affix-wrapper {
    border-radius: 8px; /* 输入框圆角 */
  }
  
  .ant-btn {
    border-radius: 8px; /* 按钮圆角 */
  }
  
  .title {
    color: #1d1d1d; /* 标题颜色 */
    margin-bottom: 24px; /* 标题下方边距 */
  }
  .remark-text {
    margin-top: 16px; /* 备注文字顶部边距 */
    color: #8c8c8c; /* 备注文字颜色 */
  }